<h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">New material</h2>

<div class="mt-8">
  <%= render partial: 'form', locals: { material: @material } %>
</div>
